body{
    background-color: #FFE4C4;
    font-family: 'Orbitron', sans-serif;
    display:flex;
    margin-top: 75px;
    justify-content: center;
}

.display{
    text-align: right;
    height: 50px;
    border: 1px solid black;
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
    margin-bottom: 40px;
    background-color: 	#D3D3D3;
    border-radius: 8px;
    padding-right: 14px;
}

.calculator-body{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 500px;
    background-color: #87CEEB;
    border-radius: 13px;
    padding: 14px;
}

.pad{
    display: flex;
    height: 420px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-radius: 8px;
}

.pad > div{
    flex: 1;
}

.btn{
    display: flex;
    height: 100%;
    flex-direction: column;
}

.btn > div{
    flex: 1;
    display: flex;
}

.btn > .bottom-row > .zero-key{
    flex-grow: 2.02;
}

.btn > div > div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 8px;
    background-color: #D3D3D3;
}

.btn > div > .operator{
    background-color: #FFb347;
}

.btn > div > .ac{
    background-color: #FFb347;
}
